<table class="table">
	<tr>
		<th>Movie Collection:</th>
	</tr>
	<tr>
		<th class="tablehead">Title</th>
		<th class="tablehead">Release Year</th>
		<th class="tablehead">Length</th>
		<th class="tablehead">Format</th>
		<th class="tablehead">Rating</th>
		<th class="tablehead">Edit</th>
		<th class="tablehead">Delete</th>
	</tr>
	<% @movies.each do |movie| %>
	<tr>
		<td><%= movie.title %></td>
		<td><%= movie.release_year %></td>
		<td><%= movie.length %></td>
		<td><%= movie.format %></td>
		<td><%= movie.rating %></td>
		<td><%= button_to 'Edit Movie', edit_movie_path(movie.id) %></td>
		<td><%= button_to 'Delete Movie', :controller => :movies, :action => 'destroy', :id => movie.id, :method => :post %></td>
	</tr>
	<% end %>
</table>