<% if flash[:error] %>	
	<% flash[:error].each do |error, msg| %>
		<p class='notice text-center'>
			<%= error.to_s.capitalize.gsub('_',' ') + ' ' + msg.first + '.' %> 
		</p>
	<% end %>
<% end %>

<%= form_for @new_movie, url: {action: "create"}, html: {class: "form-horizontal text-center"} do |f| %>
	<div class="control-group">
		<label class="control-label" for="title">Title:</label>
		<div class="controls">
			<%= f.text_field :title, id: 'title', :placeholder => 'Gone With the Wind' %>
		</div>
	</div>

	<div class="control-group">
	<label class="control-label">Format:</label>
		<div class="controls">
			<%= f.select :format, ['VHS','DVD','Instant Video'] %>
		</div>
	</div>

	<div class="control-group">
	<label class="control-label">Length:</label>
		<div class="controls">
			<%= f.text_field :length, :placeholder => '180' %>
		</div>
	</div>

	<div class="control-group">
	<label class="control-label">Release Year:</label>
		<div class="controls">
			<%= f.text_field :release_year, :placeholder => '2014' %>
		</div>
	</div>

	<div class="control-group">
	<label class="control-label">Rating:</label>
		<div class="controls">
			<%= f.radio_button :rating, '1', :checked => true %> 
  		<%= label :contactmethod_email, '1' %>
  		<%= f.radio_button :rating, '2' %>
  		<%= label :contactmethod_sms, '2' %>
  		<%= f.radio_button :rating, '3' %>
  		<%= label :contactmethod_sms, '3' %>
  		<%= f.radio_button :rating, '4' %>
  		<%= label :contactmethod_sms, '4' %>
  		<%= f.radio_button :rating, '5' %>
  		<%= label :contactmethod_sms, '5' %>
		</div>
	</div>

  <%= f.submit "Create", class: "btn btn-success" %>
<% end %>