<table class="table table-hover table-condensed tablesorter"  id="keywords myTable">
	<thead>
	<tr>
		<th class="tablehead">Title</th>
		<th class="tablehead">Release Year</th>
		<th class="tablehead">Length</th>
		<th class="tablehead">Format</th>
		<th class="tablehead">Rating</th>
		<th class="tablehead"></th>
		<th class="tablehead"></th>
		<th class="tablehead"></th>
	</tr>
	</thead>
	<tbody>
	<% @movies.each do |movie| %>
	<tr>
		<td class="lead"><%= movie.title %></td>
		<td><%= movie.release_year %></td>
		<td><%= movie.length/60 %> hr <%= movie.length%60 %> min</td>
		<td><%= movie.format %></td>
		<td><%= movie.rating %></td>
		<td><%= button_to 'View', movie_path(movie.id), :class => 'btn btn-success btn-sm', :method => :get %></td>
		<td><%= button_to 'Edit', edit_movie_path(movie.id), :class => 'btn btn-info btn-sm', :method => :get %></td>
		<td><%= button_to "Delete", movie_path(movie.id), :class => 'btn btn-danger btn-sm', :method => :delete, :confirm => "Are you sure?" %></td>
	</tr>
	<% end %>
	<% @movies2.each do |movie| %>
	<tr>
		<td class="lead"><%= movie.title %></td>
		<td><%= movie.release_year %></td>
		<td><%= movie.length/60 %> hr <%= movie.length%60 %> min</td>
		<td><%= movie.format %></td>
		<td><%= movie.rating %></td>
		<td><%= button_to 'View', movie_path(movie.id), :class => 'btn btn-success btn-sm', :method => :get %></td>
		<td></td>
		<td></td>
	</tr>
	<% end %>	
	</tbody>
</table>
