<!DOCTYPE html>
<html>
<head>
  <title>Jeffrey's Movie Manager</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

  <div class="container hero-unit">
    <div class="header">
      <nav>
        <ul class="nav nav-pills pull-right">
          <li role="presentation" class="active">
          	<%= link_to 'Collection', movies_path %>
          </li>
          <li role="presentation">
          	<%= link_to 'Add', new_movie_path %>
          </li>
          <li role="presentation">
          	<%= link_to 'Home', home_path %>
          </li>
        </ul>
      </nav>
      <h1 class="text-muted">Jeffrey's Movie Manager</h1>
      <p>Movie Collections through Rails</p>
    </div>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>


    <%= yield %>
  </div>
</body>
</html>
